:root {
  --primary-color: #344054;
  --secondary-color: #1adc30;
  --accent-color: #dc1ac6; 
  --placeholder-color: #667085;
  --main-background:white;
  --containers-background:white;
  --drop-shadow:black;
}

[data-theme="dark"] {
  --primary-color: #d9e2ec;      /* Lightened for contrast */
--secondary-color: #4ade80;    /* A lighter shade of green */
--accent-color: #f1a7d0;       /* A lighter shade of pink */
--placeholder-color: #a0a8b1;   /* Light gray for placeholders */
--main-background: #1c1f2a;    /* Dark background */
--containers-background: #2a2d3e; /* Slightly lighter for containers */
--drop-shadow: rgba(0, 0, 0, 0.5); /* Soft black for shadows */
}


*{
  background-color: var(--main-background);
}

.mainContainer {
  width: 25rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--containers-background);
  filter: drop-shadow(15px 13px 25px rgba(0, 0, 0, 0.25));
}

.textField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.email {
  color: var(--primary-color);
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  background: url("/images/mail.svg") no-repeat 0.6rem
    center;
}

.password {
  color: var(--primary-color);
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  background: url("/images/passcode.svg") no-repeat
    0.6rem center;
}

.textField input::placeholder {
  color: var(--placeholder-color);
}

.textFieldHeading {
  color: var(--primary-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.textFieldInfo {
  color: var(--primary-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
