:root {
  --primary-color: #344054;
  --secondary-color: #1adc30;
  --accent-color: #1e88e5;
  --placeholder-color: #667085;
  --main-background: #f5f5f5;
  --containers-background: #f5f5f5;
  --drop-shadow: black;
  --danger: red;
}

[data-theme="dark"] {
  --primary-color: #d9e2ec; /* Lightened for contrast */
  --secondary-color: #34c548; /* A lighter shade of green */
  --accent-color: #988dfd; /* A lighter shade of pink */
  --placeholder-color: #a0a8b1; /* Light gray for placeholders */
  --main-background: #1c1f2a; /* Dark background */
  --containers-background: #2a2d3e; /* Slightly lighter for containers */
  --drop-shadow: rgba(0, 0, 0, 1); /* Soft black for shadows */
  --danger: #fa5b59;
}

* {
  background-color: var(--main-background);
}

html,
* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  width: 25rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--containers-background);
  filter: drop-shadow(15px 13px 25px rgba(0, 0, 0, 0.25));
}

.textField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  background-color: var(--containers-background);

}

.email {
  color: var(--primary-color);
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  background: url("/images/mail.svg") no-repeat 0.6rem center;
}

.name {
  color: var(--primary-color);
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  background: url("/images/fi-rr-smile.svg") no-repeat 0.6rem center;
}

.password {
  color: var(--primary-color);
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  background: url("/images/passcode.svg") no-repeat 0.6rem center;
}

.textField input::placeholder {
  color: var(--placeholder-color);
}

.textFieldHeading {
  color: var(--primary-color);
  background-color: var(--containers-background);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.textFieldInfo {
  color: var(--primary-color);
  background-color: var(--containers-background);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
